Rockola/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFvsAPI1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFvsAPI1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfSearchResultModified">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResultModified" nillable="true" type="tns:SearchResultModified" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResultModified" nillable="true" type="tns:ArrayOfSearchResultModified" />
  <xs:complexType name="SearchResultModified">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultModified" nillable="true" type="tns:SearchResultModified" />
</xs:schema>